body{
    background-color: #f4f7fc;
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 100px;
}

h1{
    color: #2c3e50;
    font-size: 22px;
}

p{
    color: #555;
    font-size: 22px;
}

form{
    margin-top: 30px;
}
 input{
    padding: 12px;
    width: 250px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
 }

button{
    background-color: #3498db;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 8px;
    font-size: 18px;
    cursor: pointer;
}